@import "../../../sizes";
@import "../../../colors";

.presentation {
  @media all and (min-width: $size_small) {
    padding: 60px;
  }
  &.odd {
    background: $beige;
  }
  .presentation-title {
    font-size: 2rem;
    font-family: 'NeuzeitGro-Bol', Verdana, Tahoma, sans-serif;
    word-wrap: break-word;
  }

  .presentation-speakers {
    font-size: 1.2rem;
    //padding-top: 15px;
    font-family: 'NeuzeitGro-Bol', Verdana, Tahoma, sans-serif;
    .presentation-speaker:not(:last-child)::after {
      content: ", ";
    }

  }

  .label {
    margin-right: 10px;
  }
  &__metadata {
    display: flex;
    align-items: center;
  }

  &__language, &__level {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &__icon {
    margin-right: 5px;
  }

}
