@import "../../sizes";
@import "../../colors";

.presentation {
  //padding: 20px;
  @media all and (min-width: $size_small) {
    //padding: 60px;
    margin-right: 0;
    margin-left: 0;
  }

  &__title-container {
    display: flex;
  }
  &__menu {
    margin-left: auto;
  }
  &__title {
    font-size: 2rem;
    font-family: 'NeuzeitGro-Bol', Verdana, Tahoma, sans-serif;
    word-wrap: break-word;
    word-break: break-word;
  }

  &__speakers {
    font-size: 1.2rem;
    font-family: 'NeuzeitGro-Bol', Verdana, Tahoma, sans-serif;
    display: flex;
  }
  &__speaker {
    display: flex;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    &:hover {
      color: red;
    }

  }
  &__speaker-img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    object-fit: contain;
    margin-right: 5px;
  }

  &__metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__tags {
    flex-wrap: wrap;
  }

  &__language, &__level, &__tags {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &__tag:not(:last-child)::after {
    content: ",";
    padding-right: 5px;
  }

  &__icon {
    margin-right: 5px;
  }

}
