<article class="presentation" [id]="presentation.id">
  <div class="presentation__title-container">
    <div class="presentation__title">{{presentation.title}}</div>
    <div class="presentation__menu" *cfAdmin>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="accept(presentation)">
          <span>Accepted</span>
        </button>
        <button mat-menu-item (click)="unaccept(presentation)">
          <span>Not Accepted</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="presentations__voteStats" *ngIf="voteStats">
    <mat-chip-list>
      <mat-chip>all: {{voteStats.totalVotes}}</mat-chip>
      <mat-chip>+1: {{voteStats.positiveVotes}} ({{voteStats.rateOfPositive}}%)</mat-chip>
      <mat-chip>-1: {{voteStats.negativeVotes}} ({{voteStats.rateOfNegative}}%)</mat-chip>
    </mat-chip-list>
  </div>
  <div class="presentation__speakers">
    <div class="presentation__speaker"
         *ngFor="let speaker of allSpeakersFor(presentation)"
         (click)="show(speaker)">
      <img class="presentation__speaker-img" src="{{speaker.photo}}">
      <span>{{speaker.name}}</span>
    </div>
  </div>
  <div class="presentation__metadata">
    <div class="presentation__language">
      <mat-icon class="presentation__icon" matTooltip="language">language</mat-icon>
      {{presentation.language}}
    </div>
    <div class="presentation__level">
      <mat-icon class="presentation__icon" matTooltip="level">school</mat-icon>
      {{presentation.level}}
    </div>
    <div class="presentation__tags" *ngIf="presentation.tags.length != 0">
      <mat-icon class="presentation__icon" matTooltip="tags">local_offer</mat-icon>
      <span *ngFor="let tag of  presentation.tags" class="presentation__tag"> {{tag.name}}</span>
    </div>
    <ng-container *cfAdmin>
      <mat-chip-list *ngIf="isAccepted(presentation)">
        <mat-chip color="primary" [selected]="true">accepted</mat-chip>
      </mat-chip-list>
    </ng-container>
  </div>

  <div *ngIf="shouldShowDescription('short')">
    <h4 class="pt-3">short description:</h4>
    <div class="presentation__description">{{presentation.shortDescription}}</div>
  </div>
  <div *ngIf="shouldShowDescription('full')">
    <h4 class="pt-3">description:</h4>
    <div class="presentation__description">{{presentation.description}}</div>
  </div>
</article>
