<article class="presentation" [id]="presentation.id">
  <div class="presentation__title-container">
    <div class="presentation__title">
      {{presentation.title}}
    </div>
    <div class="presentation__menu" *cfAdmin>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="accept(presentation)">
          <span>Accepted</span>
        </button>
        <button mat-menu-item (click)="unaccept(presentation)">
          <span>Not Accepted</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="presentation__votes" *cfAdmin>
    <mat-chip-list *ngIf="voteStats">
      <mat-chip>all: {{voteStats.totalVotes}}</mat-chip>
      <mat-chip>+1: {{voteStats.positiveVotes}} ({{voteStats.rateOfPositive}}%)</mat-chip>
      <mat-chip>-1: {{voteStats.negativeVotes}} ({{voteStats.rateOfNegative}}%)</mat-chip>
      <mat-chip>likes: {{voteStats.likes}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="presentation__speakers">
    <div class="presentation__speaker"
         *ngFor="let speaker of allSpeakersFor(presentation)"
         (click)="show(speaker)">
      <img class="presentation__speaker-img" [src]="speaker.photo | resizeImg:40">
      <span>{{speaker.name}}</span>
    </div>
  </div>
  <cf-presentation-metadata [presentation]="presentation"></cf-presentation-metadata>
  <div class="pt-3">
    <!--<div *ngIf="shouldShowDescription(descriptionTypes.Short)">-->
    <!--<h4 class="pt-3" *ngIf="shouldShowDescription(descriptionTypes.Both)">short description:</h4>-->
    <!--<div class="presentation__description">{{presentation.shortDescription}}</div>-->
    <!--</div>-->
    <div *ngIf="shouldShowDescription(descriptionTypes.Full)">
      <h4 class="pt-3" *ngIf="shouldShowDescription(descriptionTypes.Both)">description:</h4>
      <div class="presentation__description">{{presentation.description}}</div>
    </div>
  </div>
  <div class="presentation__comments" *cfAdmin>
    <cf-comments [presentationId]="presentation.id"></cf-comments>
  </div>
  <div class="presentation__actions pt-4">

    <cf-rate-presentation [presentationId]="presentation.id"></cf-rate-presentation>
  </div>
</article>
