<section id="partners-confitura" class="beige">
  <div class="row-fluid beige" id="partner">
    <div class="col-lg-12 beige pb150">
      <div class="row-1140">
        <div class="beige" *ngIf="model">
          <div>
            <a class="btn-link" routerLink="/profile/{{model.id}}/edit">Edit My Profile</a>
            <ng-container *cf-admin=""> |
              <a class="btn-link" routerLink="/user/{{model.id}}/presentation">Add Presentation</a>
            </ng-container>
          </div>
          <cf-person-view [model]="model" (changed)="reload()"></cf-person-view>
          <table class="table table-bordered table-striped" *ngIf="(presentations | async)?.length > 0">
            <tr>
              <th>title</th>
              <th>status</th>
              <th></th>
            </tr>
            <tr *ngFor="let presentation of presentations | async" class="active">
              <td>{{presentation.title}}</td>
              <td>
                                <span style="font-size: 1.4rem" class="label label-default"
                                      [class.label-success]="presentation.status =='accepted'">{{presentation.status || "reported"}}</span>
              </td>
              <td style="width: 200px">
                <button class="btn" routerLink="/presentation/{{presentation.id}}">edit</button>
                <button class="btn btn-danger" (click)="remove(presentation)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
