@import "../../sizes";

.action-buttons {
  text-align: center;
  @media all and (min-width: $size_medium) {
    text-align: right;
  }
}

.presentations {
  &__status-column {
    width: 150px;
  }
  &__action-column {
    width: 100px;
    @media all and (min-width: $size_medium) {
      width: 270px;
    }
  }
}
