<section class="bg-white">
  <div class="row-1140 pt-5 pb-5" *ngIf="model">
    <div class="action-buttons text-right">
      <a mat-button routerLink="/profile/{{model.id}}/edit">Edit profile</a>
      <a mat-button routerLink="/user/{{model.id}}/presentation" color="primary">Add presentation</a>
    </div>
    <cf-person-view [model]="model" (changed)="reload()"></cf-person-view>
    <table class="table table-bordered table-striped">
      <tr>
        <th>title</th>
        <th class="presentations__status-column">status</th>
        <th class="presentations__action-column"></th>
      </tr>
      <tr *ngFor="let presentation of presentations | async" class="active">
        <td>{{presentation.title}}</td>
        <td class="presentations__status-column ">
          <mat-chip-list>
            <mat-chip>{{presentation.status || "reported"}}</mat-chip>
          </mat-chip-list>
        </td>
        <td>
          <a class="btn" routerLink="/presentation/{{presentation.id}}">edit</a>
          <a class="btn" routerLink="/presentation/{{presentation.id}}/cospeakers">co-speakers</a>
          <button class="btn btn-danger" (click)="remove(presentation)">Delete</button>
        </td>
      </tr>
    </table>

  </div>


</section>
