@import "../../sizes";
#about {
  .about-banner {
    display: flex;
    background-color: #000000;
    background: url("../../img/about_left.png") no-repeat left top, url("../../img/about_right.png") no-repeat right bottom;
    background-size: contain;
    @media all and (max-width: $size_xsmall) {
      background: url("../../img/about_right.png") no-repeat right bottom;
      background-size: contain;
    }
    h2 {
      color: #fff;
    }
  }
  .about-excerpt {
    padding: 50px 0 100px 0;
    color: #000000;
    font-family: 'NeuzeitGro-Reg', Verdana, Tahoma, sans-serif;
    font-size: 2.2rem;
  }
  .img-speaker img {
    min-width: 100%;
    min-height: 100%;
  }
  .organizers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @media all and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    .organizer {
      width: 375px;
      padding: 20px;
      @media all and (max-width: 767px) {
        width: 300px;
      }

      //overflow: hidden;
      cursor: pointer;

      .name-speaker {
        text-align: center;
        font-size: 2.5rem;
        line-height: 30px;
        font-family: 'NeuzeitGro-Reg', Verdana, Tahoma, sans-serif;
        color: #000000;
        padding-top: 15px;
        a {
          &, &:link, &:active, &:visited, &:hover {
            font-family: 'NeuzeitGro-Reg', Verdana, Tahoma, sans-serif; /* NeuzeitGro-Bol */
            color: #000;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

@import "person";

