<section class="footer">
  <div class="footer__logo">
    <img src="/assets/img/logo_white.svg" alt="confitura">
  </div>
  <div class="footer__slogan">Java conference for Polish Java community<br/>30 June 2018, Warsaw</div>
  <div class="footer__social-container">
    <div class="footer__email">e: <a class="footer__link" href="mailto:confitura@confitura.pl">confitura@confitura.pl</a></div>
    <div>
      <a href="https://twitter.com/confiturapl" title="twitter" target="_blank" rel="noopener">
        <i class="footer__social-icon fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/Confitura"
         title="facebook" target="_blank" rel="noopener">
        <i class="footer__social-icon fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://plus.google.com/u/0/communities/111143182611552730655"
         title="google plus" target="_blank" rel="noopener">
        <i class="footer__social-icon fa fa-google-plus" aria-hidden="true"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCkVjQGf_e0JmlonPMS4VNXQ"
         title="youtube" target="_blank" rel="noopener">
        <i class="footer__social-icon fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
