<span *ngIf="!entry; then empty; else filled"></span>
<ng-template #empty>
    <button class="btn btn-block btn-info" (click)="addLabel()">add label</button>
    <button class="btn btn-block btn-default" (click)="addPresentation()">add presentation</button>
</ng-template>
<ng-template #filled>

    <span *ngIf="entry.presentationId; then hasPresentation; else hasLabel"></span>
</ng-template>

<ng-template #hasPresentation>prezentacja: <b>{{presentation?.title}}</b></ng-template>
<ng-template #hasLabel>{{entry.label}}</ng-template>
