<section class="beige pt-5 pb-5">
  <div class="row-700 login-container">


    <h2 class="login-container__header">Call 4 Papers</h2>
    <div class="login-container__info lead">Our Call 4 Papers process is already closed. You can still register your account but you won't
      be able to submit new presentation.
    </div>

    <div class="login-container__sign-in">
      <h3>Sign in</h3>
      <a class="btn btn-block btn-social btn-twitter" [href]="loginLinkTo('twitter')" rel="noopener">
        <span class="fa fa-twitter"></span>
        Sign in with Twitter
      </a>
      <a class="btn btn-block btn-social btn-github" [href]="loginLinkTo('github')" rel="noopener">
        <span class="fa fa-github"></span>
        Sign in with Github
      </a>
      <a class="btn btn-block btn-social btn-facebook" [href]="loginLinkTo('facebook')" rel="noopener">
        <span class="fa fa-facebook"></span>
        Sign in with Facebook
      </a>
      <a class="btn btn-block btn-social btn-google" [href]="loginLinkTo('google')" rel="noopener">
        <span class="fa fa-google"></span>
        Sign in with Google
      </a>
    </div>
    <div class="login-container__separator"></div>
    <div class="login-container__sign-up">
      <h3>Sign up </h3>
      <a class="btn btn-block btn-social btn-twitter" [href]="loginLinkTo('twitter')" rel="noopener">
        <span class="fa fa-twitter"></span>
        Sign up with Twitter
      </a>
      <a class="btn btn-block btn-social btn-github" [href]="loginLinkTo('github')" rel="noopener">
        <span class="fa fa-github"></span>
        Sign up with Github
      </a>
      <a class="btn btn-block btn-social btn-facebook" [href]="loginLinkTo('facebook')" rel="noopener">
        <span class="fa fa-facebook"></span>
        Sign up with Facebook
      </a>
      <a class="btn btn-block btn-social btn-google" [href]="loginLinkTo('google')" rel="noopener">
        <span class="fa fa-google"></span>
        Sign up with Google
      </a>
    </div>


  </div>
</section>
