<section id="partners-confitura" class="beige pb150">
  <div class="row-fluid beige pb150 pt50" id="partner">
    <div class="col-lg-12 beige ">
      <div class="row-1140 text-center ">
        <h3>Sign up / Sign in</h3>
        <p>with1 :</p>
        <div>
          <a class="btn btn-social-icon btn-lg btn-twitter" [href]="loginLinkTo('twitter')" rel="noopener">
            <span class="fa fa-twitter"></span>
          </a>
          <a class="btn btn-social-icon btn-lg btn-github" [href]="loginLinkTo('github')">
            <span class="fa fa-github"></span>
          </a>
          <a class="btn btn-social-icon btn-lg btn-facebook" [href]="loginLinkTo('facebook')">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="btn btn-social-icon btn-lg btn-google" [href]="loginLinkTo('google')">
            <span class="fa fa-google"></span>
          </a>
        </div>

      </div>

    </div>
  </div>
</section>
