<section class="social-links">
  <a href="https://www.twitter.com/{{twitter}}" title="twitter" target="_blank" *ngIf="twitter">
    <i class="fa fa-twitter prelegent-social" aria-hidden="true"></i>
  </a>
  <a href="https://github.com/{{github}}" title="github" target="_blank" *ngIf="github">
    <i class="fa fa-github prelegent-social" aria-hidden="true"></i>
  </a>
  <a href="{{www}}" title="direct" target="_blank" *ngIf="www">
    <i class="fa fa-arrow-up prelegent-social" aria-hidden="true"></i>
  </a>
</section>
