@import "../../sizes";

header {
  display: flex;
  background: #000000 url("/assets/img/about_right.png") no-repeat right bottom;
  background-size: contain;

  @media all and (min-width: $size_xsmall) {
    margin-top: 0;
    background: url("/assets/img/about_left.png") no-repeat left top, url("/assets/img/about_right.png") no-repeat right bottom;
    background-color: #000000;
  }
  h2 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
  }
}
