@import "../../../sizes";

#registration {
  .registration-banner {
    display: flex;
    background: url("/assets/img/about_left.png") no-repeat left top, url("/assets/img/about_right.png") no-repeat right bottom;
    background-color: #000000;
    background-size: contain;
    @media all and (max-width: $size_xsmall) {
      background: #000000 url("/assets/img/about_right.png") no-repeat right bottom;
      background-size: contain;
    }
    h2 {
      color: #fff;
    }
  }
}
