#scanner {
  height: 100vh;
  font-size: 2.7rem;
  dl {
    dt {
      padding-top: 20px;
      font-family: 'NeuzeitGro-Bol', Verdana, Tahoma, sans-serif;
    }
  }
  .btn-scan {
    position: fixed;
    bottom: 30px;
    right: 30px;

  }

  mat-card {
    padding: 5px;
  }
  mat-card.participant {
    background-color: #00efec;
  }
  mat-card.speaker {
    background-color: #5def00;
  }
  mat-card.volunteer {
    background-color: #ff0040;
  }
  mat-card.admin {
    background-color: #ff0040;
  }

  mat-card-content {
    background-color: white;
    padding: 5px;
    .tshirt {
      font-size: 3em;
    }
  }
}