<section class="scanner bg-white pt-5">
  <div class="row-1140">
    <div class="alert alert-danger text-center" role="alert" *ngIf="error">{{error}}</div>
    <div class="alert alert-success text-center" role="alert" *ngIf="!error  && model != null">All good!</div>
    <mat-card class="example-card scanner__card"
              *ngIf="model"
              [class.scanner__speaker]="model.speaker && model.hasAcceptedPresentation"
              [class.scanner__admin]="model.admin"
              [class.scanner__volunteer]="model.volunteer"
              [class.scanner__participant]="model.participant">
      <mat-card-header>
        <mat-card-title>
          <span class="scanner__participant-type" *ngIf="model.speaker && model.hasAcceptedPresentation">Prelegent</span>
          <span class="scanner__participant-type" *ngIf="model.admin">Admin</span>
          <span class="scanner__participant-type" *ngIf="model.volunteer">Wolontariusz</span>
          <span class="scanner__participant-type" *ngIf="model.participant">Uczestnik</span>
        </mat-card-title>
        <mat-card-subtitle>
          {{model.name}} {{model.email}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="scanner__card-content">
        t-shirt
        <div class="scanner__tshirt">
          {model.gender, select, M {Męska} other {Damska}}
          {{model.size}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <a class="btn btn-lg btn-default scanner__scan-button"
     href="zxing://scan/?ret=https://confitura.pl/admin/scanner/{CODE}&SCAN_FORMATS=QR_CODE">
    <span class="fa fa-qrcode fa-4x"></span>
  </a>
</section>
