.scanner {
  height: 100vh;
  font-size: 2.7rem;
  &__scan-button {
    position: fixed;
    bottom: 100px;
    right: 30px;

  }

  //&__participant {
  //  background-color: #F20033;
  //}
  //&__speaker {
  //  background-color: #66D77B;
  //}
  //&__volunteer {
  //  background-color: #242424;
  //}
  //&__admin {
  //  background-color: #242424;
  //}
  //&__card {
  //  padding: 5px;
  //}
  &__card-content {
    background-color: white;
    padding: 5px;

  }
  &__tshirt {
    font-size: 2.5rem;
  }
  &__participant-type {
    padding-right: 5px;
  }
}
