<!-- /fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="" ui-sref="main">
                <div class="confitura-logo"></div>
            </a>
            <a class="mobile-menu" id="mobile-menu" href="" title="open menu">
                <div></div>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/about" title="about us">about us</a></li>
                <li><a routerLink="/partners" title="partners">partners</a></li>
                <li><a routerLink="/login" title="login" *ngIf="!loggedIn">login</a></li>
                <li><a (click)="logout()" title="logout" *ngIf="loggedIn">log out</a></li>
                <li><a class="pink" ui-sref="agenda" title="agenda">agenda</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- /own mobile navbar -->
<nav id="mobile-nav" class="mobile-nav">
    <a class="mlink wh" ui-sref="about" title="about us">about us</a>
    <a class="mlink wh" ui-sref="partners" title="partners">partners</a>
    <a class="mlink wh" ui-sref="speakers" title="speakers">speakers</a>
    <a class="mlink wh" ui-sref="presentations" title="presentations">presentations</a>
    <a class="mlink wh" ui-sref="agenda" title="agenda">agenda</a>
    <a class="mlink wh" ui-sref="faq" title="faq">FAQ</a>

    <a class="mlink wh" href="http://c4p.confitura.pl" title="call 4 papers">call 4 papers</a>
    <a class="mlink pk" ui-sref="agenda" title="agenda">agenda</a>
</nav>