<article class="bg-white" id="faq">
  <div class="row-1140">

    <h3 class="pt-5">
      <cf-back-button style="float: left"></cf-back-button>
      My Presentation
    </h3>
    <form class="presentation-form" (ngSubmit)="save()" #form="ngForm" novalidate>
      <mat-form-field>
        <input matInput placeholder="title" type="text"
               name="title"
               [(ngModel)]="model.title"
               #title="ngModel"
               required maxlength="255">
        <mat-error *ngIf="title?.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <div class="presentation-form__language">
          <label class="presentation-form__language-label">language: </label>
          <mat-radio-group [(ngModel)]="model.language"
                           name="language" #language="ngModel"
                           required>
            <mat-radio-button [value]="language" *ngFor="let language of languages" [required]="true">{{language}}&nbsp;</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-error *ngIf="form.submitted && language?.hasError('required')">
          language is <strong>required</strong>
        </mat-error>
      </div>
      <div>
        <div class="presentation-form__level">
          <label class="presentation-form__level-label">level: </label>
          <mat-radio-group [(ngModel)]="model.level"
                           name="level" #level="ngModel"
                           required>
            <mat-radio-button [value]="level" *ngFor="let level of levels">{{level}}&nbsp;</mat-radio-button>
          </mat-radio-group>

        </div>
        <mat-error *ngIf="form.submitted && level?.hasError('required')">
          level is <strong>required</strong>
        </mat-error>
      </div>
      <div>
        <label>tags: </label>
        <tag-input [(ngModel)]="model.tags" [onlyFromAutocomplete]="true"
                   name="tags">
          <tag-input-dropdown [showDropdownIfEmpty]="true"
                              [autocompleteItems]="tags "
                              [identifyBy]="'id'" [displayBy]="'name'">
          </tag-input-dropdown>
        </tag-input>
      </div>
      <mat-form-field>
        <textarea matInput placeholder="short description"
                  matTextareaAutosize
                  matAutosizeMinRows="2"
                  [(ngModel)]="model.shortDescription"
                  name="shortDescription"
                  #shortDescription="ngModel"
                  required maxlength="300"></textarea>
        <mat-hint>
          Make it short and sweet for the potential participant.
          It will be used In Vote 4 Papers process.
        </mat-hint>
        <mat-hint align="end">({{model.shortDescription?.length || 0}}/300)</mat-hint>
        <mat-error *ngIf="shortDescription?.hasError('required')">
          short description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="description"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  [(ngModel)]="model.description"
                  name="description"
                  #description="ngModel"
                  required maxlength="1000"></textarea>
        <mat-hint align="end">({{model.description?.length || 0}}/1000)</mat-hint>
        <mat-error *ngIf="description?.hasError('required')">
          description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit"
                [disabled]="form.submitted && !form.form.valid">Save
        </button>
        <button mat-raised-button type="button" color="warn" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</article>
