<section id="partners-confitura" class="beige">
    <div class="row-fluid beige" id="partner">
        <div class="col-lg-12 beige">
            <div class="row-1140 pb50">
                <div class="beige">
                    <h3>My Presentation</h3>
                    <form (ngSubmit)="save(presentationForm)" #presentationForm="ngForm" novalidate>
                        <div class="form-group required">
                            <label for="title">Title</label>
                            <input type="text" id="title" class="form-control" [(ngModel)]="model.title" #title="ngModel" name="title"
                                   required maxlength="255">
                            <div class="alert alert-danger" role="alert" *ngIf="title.errors?.required && (title.touched || submitted)">
                                This field is required
                            </div>
                        </div>
                        <div class="form-group required">
                            <label>Language</label>

                            <label class="checkbox">
                                <input type="radio" name="language" value="polish" required [(ngModel)]="model.language"
                                       #language="ngModel"> polish
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="language" value="english" required [(ngModel)]="model.language"> english
                            </label>
                            <div class="alert alert-danger" role="alert"
                                 *ngIf="language.errors?.required && (language.touched || submitted)">
                                This field is required
                            </div>
                        </div>
                        <div class="form-group required">
                            <label>Level</label>
                            <label class="checkbox">
                                <input type="radio" name="level" value="beginner" required [(ngModel)]="model.level" #level="ngModel">
                                beginner
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="level" value="advanced" required [(ngModel)]="model.level"> advanced
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="level" value="master" required [(ngModel)]="model.level"> master
                            </label>
                            <div class="alert alert-danger" role="alert"
                                 *ngIf="level.errors?.required && (level.touched || submitted)">
                                This field is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <tag-input [(ngModel)]="model.tags" id="tags" name="tags" theme="bootstrap" [onlyFromAutocomplete]="true"
                                       [maxItems]="3" [identifyBy]="'id'" [displayBy]="'name'">
                                <tag-input-dropdown [autocompleteObservable]="tags" [showDropdownIfEmpty]="true" [identifyBy]="'id'"
                                                    [displayBy]="'name'">
                                </tag-input-dropdown>
                            </tag-input>
                        </div>
                        <div class="form-group">
                            <label for="cospeakers">Co-speakers</label>
                            <jl-speakers-select id="cospeakers" [(ngModel)]="model.cospeakers" name="cospeakers" [ownerId]="userId">

                            </jl-speakers-select>
                        </div>
                        <div class="form-group required">
                            <label for="short-description">Short Description</label>
                            <textarea type="text" id="short-description" class="form-control" rows="5" [(ngModel)]="model.shortDescription"
                                      #shortDescription="ngModel"
                                      name="shortDescription" required maxlength="300"></textarea>
                            <span class="help-block small">Make it short and sweet for the potential participant. It will be used In Vote 4 Papers process. Max 300 characters. ({{model.shortDescription?.length || 0}}/300)</span>
                            <div class="alert alert-danger" role="alert"
                                 *ngIf="shortDescription.errors?.required && (shortDescription.touched || submitted)">
                                This field is required
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="description">Description</label>
                            <textarea type="text" id="description" class="form-control" rows="5" [(ngModel)]="model.description"
                                      #description="ngModel"
                                      name="description" required maxlength="1000"></textarea>
                            <div class="alert alert-danger" role="alert"
                                 *ngIf="description.errors?.required && (description.touched || submitted)">
                                This field is required
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary"
                                    [disabled]="presentationForm.submitted && !presentationForm.form.valid">Save
                            </button>
                            <button class="btn btn-warning" (click)="cancel()">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
