@import "../../sizes";

.modal-dialog {
  @media all and (max-width: $size_xsmall) {
    margin: 0;
  }
}
.modal-content {
  border: none;
  min-height: 100vh;
  @media all and (min-width: $size_xsmall) {
    min-height: 50vh;
  }
}

.person-presentations {
  padding-top: 20px;
}

.person-container {
  display: flex;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
  .person-photo {
    flex-shrink: 0;
  }
  .person-info {
    padding: 20px;

    .person-name h3 {
      &:before, &:after {
        content: " # ";
      }
    }
  }

}

.close-button {
  display: block;
  margin-left: auto;
}
