@import "../../colors";
@import "../../sizes";

.cookies {
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background: #000000;
  z-index: 9999;
  color: #ffffff;
  padding: 10px;
  font-family: 'NeuzeitGro-Reg', Verdana, Tahoma, sans-serif; /* NeuzeitGro-Bol */
  font-size: 0.85rem;
  text-align: center;
  height: 150px;
  @media all and (min-width: $size_small) {
    height: 100px;

  }
  &__agree {
    display: block;
    width: 100%;
    color: $red !important;
    cursor: pointer;
  }
}
