@import "../../sizes";

:host {
  a.menu-item {
    cursor: pointer;
    padding-bottom: 0;
    color: #000000;
    padding-top: 0;
    font-size: 1.5rem;
    line-height: 45px;
    text-align: center;
    margin-left: 0;
    display: block;

    &:hover {
      text-decoration: underline;
    }

    @media all and (min-width: $size_small) {
      line-height: 55px;
      font-size: 1.5rem;
    }
    @media all and (min-width: $size_medium) {
      line-height: 100px;
      font-weight: 700;
      padding-right: 15px;
      padding-left: 7px;
      font-size: 1.5rem;
    }

    &.active {
      text-decoration: underline;
    }

    &.pink, &.pink:hover {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      background: #ff0040;
      color: #ffffff;
      @media all and(min-width: $size_medium) {
        width: 170px;
      }
    }
  }

  .dropdown-item > a.menu-item {
    line-height: 50px;
    font-size: 1.2rem;
    @media all and (min-width: $size_small) {
      text-align: left;
    }
  }
}
