<nav class="navbar navbar-expand-lg navbar-default bg-white fixed-top justify-content-between">
  <a class="navbar-brand" routerLink="/">
    <div class="confitura-logo">
      <img src="/assets/img/logo_black.svg" alt="">
    </div>
  </a>

  <button mat-icon-button data-toggle="collapse" data-target="#navbar" class="navbar__toggle ">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar">
    <ul class="navbar-nav">
      <li cf-menu-item [model]="item" *ngFor="let item of menu" class="nav-item" [class.dropdown]="item.children"></li>
    </ul>
  </div>
  <button mat-fab class="navbar__toggle-fab" data-toggle="collapse" data-target="#navbar" color="accent">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div>
  <cf-progress-bar></cf-progress-bar>
</div>
