@import "../../sizes";
@import "../../colors";

.navbar {
  padding: 0;
  .nav li a {
    cursor: pointer;
    padding-bottom: 0;
    &.active {
      text-decoration: underline;
    }
    &.pink, &.pink:hover {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      background: $red;
      color: #ffffff;
      @media all and(min-width: $size_small) {
        width: 170px;
      }
    }
  }

  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 55px;

    @media all and (min-width: $size_medium) {
      height: 100px;
      padding-left: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .confitura-logo {
    border: none;
    outline: none;
    margin-left: 20px;
    height: 100%;
    img {
      height: 100%;
    }

  }

  .navbar-toggler {
    height: 55px;
    line-height: 55px;
    border: none;
    background: none;
    margin-top: 0;
    margin-bottom: 0;
    span.mobile-menu {
      background: url('/assets/img/mobile-menu.png') no-repeat center;
      background-size: contain;
      width: 30px;
      height: 100%;
      float: right;
    }
  }
}

cf-progress-bar {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
}

