<nav class="navbar navbar-expand-lg navbar-default bg-white fixed-top justify-content-between">
  <a class="navbar-brand" routerLink="/">
    <div class="confitura-logo">
      <img src="/assets/img/logo_black.svg" alt="">
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="mobile-menu"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar">
    <ul class="navbar-nav">
      <li cf-menu-item [model]="item" *ngFor="let item of menu" class="nav-item" [class.dropdown]="item.children"></li>
    </ul>
  </div>
</nav>
