
server:
  port: 9090
  context-path:


twitter:
  api-key: KEY
  api-secret: SECRET
  callback: http://localhost:8080/login
spring:
  datasource:
    url: jdbc:mysql://localhost:33061/confitura?useLegacyDatetimeCode=false&serverTimezone=Europe/Warsaw&useUnicode=yes&characterEncoding=UTF-8
    username: confitura
    password: confitura
  jpa:
    hibernate:
      ddl-auto: update
management:
  context-path: /api/actuator
  security:
    roles: ADMIN