<div *ngIf="entry.presentationId" class="agenda-entry__presentation">
  <div class="agenda-entry__title">
    <span *ngIf="entry.presentation.language=='english'" class="small">[en]</span>
    <a href="/presentations#{{entry.presentation.id}}">
      {{entry.presentation.title}}
    </a>
  </div>

  <div class="agenda-entry__speakers">
    <span class=agenda-entry__speaker>{{entry.speaker.name}}</span>
    <span class="agenda-entry__speaker" *ngFor="let speaker of entry.cospeakers">
            {{speaker.name}}
        </span>
  </div>

  <div class="agenda-entry__actions" *ngIf="showActions">
    <button mat-icon-button (click)="addToPersonalAgenda()" matTooltip="Add to my agenda">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Rate presentation" cfRatePresentationDialog [presentationId]="entry.presentation.id">
      <mat-icon>rate_review</mat-icon>
    </button>
  </div>
  <!--<cf-presentation-metadata [presentation]="entry.presentation"></cf-presentation-metadata>-->
</div>
<div *ngIf="entry.label">
  <div class="agenda-title">{{entry.label}}</div>
</div>

