@import "../../sizes";

.person-container {
  display: flex;
  flex-direction: column;
  @media all and (min-width: $size_medium) {
    flex-direction: row;
  }
  .person-photo {
    flex-shrink: 0;
    position: relative;
    margin: auto;
    @media all and (min-width: $size_medium) {
      margin: inherit;
    }
    button.btn-upload {
      visibility: hidden;
      position: absolute;
      transform: translate(-50%, -100%);
      margin-right: -50%;
      top: 50%;
      left: 50%;

    }
    &:hover {
      button.btn-upload {
        visibility: visible;
      }
    }

    img {
      min-width: 300px;
      min-height: 300px;
    }
  }

  .person-info {
    padding: 20px;
    flex-grow: 1;

    &__bio {
      white-space: pre-line;
    }

    .&__name h3 {
      &:before, &:after {
        content: " # ";
      }
    }
  }

}
