<div *ngIf="model" class="person-container">
  <div class="person-photo">
    <figure>
      <div *cfAdminOrOwner="model.id">
        <input type="file" ng2FileSelect [uploader]="uploader" multiple style="display: none">
        <button class="btn btn-upload" (click)="selectNewPhoto()">Upload New Photo</button>
      </div>
      <cf-photo [src]="model.photo"></cf-photo>
    </figure>
    <cf-social-links [twitter]="model.twitter" [github]="model.github" [www]="model.www"></cf-social-links>
  </div>
  <div class="person-info">
    <section>
      <div class="person-name"><h3>{{model.name}}</h3></div>
      <div *cfAdmin>
        <span *ngIf="model.admin">ADMIN</span>
        <span *ngIf="model.volunteer">VOLUNTEER</span>
      </div>
      <div [innerHTML]="model.bio"></div>
    </section>
  </div>
</div>
