<section id="dashboard" class="bg-white pt100">
    <div class="row-1140">

        <mat-card>
            <google-chart [data]="tShirtsChartData"></google-chart>
        </mat-card>
        <mat-card>
            <google-chart [data]="foodChartData"></google-chart>
        </mat-card>
        <mat-card>
            <google-chart [data]="vouchersChartData"></google-chart>
        </mat-card>
        <mat-card>
            <google-chart [data]="usersChartData"></google-chart>
        </mat-card>
        <mat-card>
            <google-chart [data]="arrivalChartData"></google-chart>
        </mat-card>
        <mat-card>
            <google-chart [data]="registrationsChartData"></google-chart>
        </mat-card>
    </div>
</section>