<mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title>
            Rates: {{rates.length}} Avarage: {{stats.avg}}
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card *ngIf="stats">
        <google-chart [data]="chart"></google-chart>
</mat-card>

    <ng-container *ngFor="let rate of rates">
        <mat-card *ngIf="rate.rate.comment">
            <mat-card-header>
                <mat-card-subtitle>
                    <mat-icon *ngFor="let star of rate.stars">star_rate</mat-icon>
                    ({{rate.meta.description}})
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{rate.rate.comment}}
            </mat-card-content>
        </mat-card>
</ng-container>
</mat-expansion-panel>