.required {
  & > input,
  & > textarea {
    &.ng-invalid.ng-touched {
      border-left: red solid 5px;
    }
  }
  & > label:first-child {
    &:after {
      content: ' *';
      color: #ff0000;
    }
  }
}