<section id="partners-confitura">
  <header class="partners-banner">
    <h2>partners</h2>
  </header>
  <div class="row-fluid row-1140 text-right" *cf-admin="">
    <button class="btn btn-default" style="margin-top: 20px" routerLink="/admin2/partners/add">Add New Partner</button>
  </div>
  <div class="row-fluid" *ngIf="partners.length > 0">
    <div class="col-lg-12 partners-type {{type}}-type" *ngFor="let type of types">
      <div *ngIf="partnersFor(type).length > 0" class="pt100 pb50">
        <div class="bg-white row-1140 text-center partner-header">{{type}}</div>
        <div class="bg-white row-1140 text-center">
          <div class="text-center">
            <div class="vcenter text-center partners-logo-container">
              <a routerLink="{{partner.id}}" class="a-abs" *ngFor="let partner of partnersFor(type)"
                 [ngClass]="{'unpublished': !partner.published}">
                <img [cfLazySrc]="partner.logo" class="img-responsive"/>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="row-fluid">
    <div class="col-lg-12 text-center pt100 pb100">
      <p>Contact us on <a href="mailto:confitura@confitura.pl">confitura@confitura.pl</a> to learn about our packages</p>
    </div>
  </div>
</section>
