<section id="partners-confitura">
  <cf-page-header title="partners"></cf-page-header>
  <div class="row-1140 text-right" *cfAdmin="">
    <button class="btn btn-default" style="margin-top: 20px" routerLink="/admin/partners/add">Add New Partner</button>
  </div>
  <div *ngIf="partners.length > 0">
    <ng-container *ngFor="let type of types">
      <div class="col-lg-12 partners-type {{type}}-type" *ngIf="partnersFor(type).length > 0">
        <div class="bg-white row-1140 text-center partner-header">{{type}}</div>
        <div class="bg-white row-1140 text-center">
          <div class="text-center">
            <div class="vcenter text-center partners-logo-container">
              <a routerLink="{{partner.id}}" class="a-abs" *ngFor="let partner of partnersFor(type)"
                 [ngClass]="{'unpublished': !partner.published}">
                <img [cfLazySrc]="partner.logo | resizeImg" class="img-responsive"/>
              </a>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

  </div>
  <div >
    <div class="text-center pt-5 pb-5">
      <p class="lead">Contact us on <a href="mailto:confitura@confitura.pl">confitura@confitura.pl</a> to learn about our packages</p>
    </div>
  </div>
</section>
