@import "../../../sizes";

.partners {

  &__add-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
  }

  &__type-name {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'NeuzeitGro-Bol', Verdana, Tahoma, sans-serif;
  }

  &__type-container {
    & img {
      object-fit: contain;
      width: 200px;
      height: 70px;
    }

    &--platinum img {
      width: 250px;
      height: 150px;
      @media all and (min-width: $size_small) {
        width: 350px;
      }
    }
    &--gold img {
      width: 220px;
      height: 90px;

      @media all and (min-width: $size_small) {
        width: 300px;
      }
    }
    &--silver img {
      width: 200px;
      height: 70px;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    @media all and (min-width: $size_small) {
      flex-flow: row wrap;
    }

  }

  &__logo {
    padding: 20px;
    &--unpublished {
      opacity: 0.1;
    }
  }
}
