@import "../../../sizes";

#presentation-list {
  .presentations-banner {
    display: flex;
    background: url("../../../img/about_left.png") no-repeat left top, url("../../../img/about_right.png") no-repeat right bottom;
    background-size: contain;
    background-color: #000000;
    @media all and (max-width: $size_xsmall) {
      background: url("../../../img/about_right.png") no-repeat right bottom;
      background-size: contain;
    }
    h2 {
      color: #fff;
    }
  }
  .presentation {
    padding: 60px;
    &.odd {
      background: #e4d7c6;
    }
    .presentation-title {
      font-size: 4rem;
      line-height: 4rem;
    }

    .presentation-speakers {
      font-size: 2.7rem;
      padding-top: 15px;
    }
  }
}