:host {
  //width: 300px;
  //margin: 20px;
  //@media all and (max-width: 767px) {
  //  width: 300px;
  //}

  cursor: pointer;
  .photo {
    overflow: hidden;
    border-radius: 200px;
    text-align: center;
    width: 300px;
    height: 300px;
    img {
      width: 100%;
    }
  }
}
