@import "../../sizes";
@import "../../colors";

#faq {
  ::ng-deep cf-page {
    h4 {
      margin-top: 2rem;
      font-weight: 800;
    }
    p {
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      border-left: 2px $red solid;
    }
  }
}
