<header>
    <div class="row-fluid">
        <div id="own-carousel" class="col-lg-12 own-carousel">
            <div class="container">
                <div class="carousel-caption">
                    <h1>confitura 2017</h1>
                    <p class="carousel-p">Java Conference for Polish community
                    </p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">

    <section id="main-confitura">
        <div class="row-fluid">
            <div class="col-lg-12 col-md-12"><h2>confitura 2017</h2></div>
            <div class="col-lg-12 col-md-12 main-confitura-content">
                <div class="main-confitura-content-inner">
                    <div class="col-lg-6 col-md-6">
                        <h3>1st of July 2017</h3>
                        <span class="mcci-content">
								Confitura is a one day conference. It starts at around 9 a.m. and finishes at 7 p.m.
							</span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h3>Bobrowiecka Conference Center</h3>
                        <h4 style="font-size: 2rem; text-align: center;">
                            <a href="https://www.google.com/maps/place/Centrum+Konferencyjno+-+Szkoleniowe/@52.201183,21.045615,15z/data=!4m5!3m4!1s0x0:0x42f30bdb67dd85d!8m2!3d52.201183!4d21.045615"
                               target="_blank">ul. Bobrowiecka 9, Warsaw</a>
                        </h4>
                        <span class="mcci-content">
								5 parallel sessions. 7 slots in each session. Chillout room and, last but not least, sponsors booth where you can talk, win attractive awards or even find a new job.
							</span>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="about-confitura">
        <div class="row-fluid">
            <div class="col-lg-12 about-confitura-header"><h2>about us</h2></div>
            <div class="col-lg-12 about-confitura-content">
                <div class="about-confitura-content-inner">
                    <div>

                        Confitura is one of the biggest Java conferences in Poland. It’s the place where Polish and International leaders of
                        the Java community share their Java knowledge and experience during sessions and breaks. Each year we host around
                        1400 participants keen to find out about new technologies. The conference used to be totally free of charge but last
                        year we decided to use the opportunity to help others and introduced a charity donation based model of registering.
                        We collect symbolic donations of 25 zł (~ €6) with help of the Allegro Charity Platform (all the money go <strong>directly</strong>
                        to a charity organization) and invite our donors to register.
                        <br><strong>Registration is required</strong>.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div ng-include="'partners/banner/partners-banner.tpl.html'"></div>
    <div ng-include="'news/banner/news-banner.tpl.html'"></div>
    <jl-news-banner></jl-news-banner>
</div>

