<header>
  <div id="main_banner">
    <div class="carousel-caption ">
      <h1 class="conference-name">confitura 2018</h1>
      <p class="conference-slogan">Java Conference for Polish community</p>
      <div class="btn btn-lg btn-primary btn-pink banner-button">
        <a href="mailto:confitura@confitura.pl" rel="noopener">Become our partner!</a>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <section id="main-confitura">
      <div class="basic-info row-1140">
        <div class="date-info">
          <h3>Saturday, 30 June 2018</h3>
          <span class="main-content">
								Confitura is a one day Java conference. It starts at around 9 a.m. and finishes at 7 p.m.
							</span>
        </div>
        <div class="venue-info">
          <h3>Expo XXI</h3>
          <h4 class="text-center">
            <a
              href="https://www.google.com/maps/place/WARSAW+EXPO+XXI/@52.2248963,20.9599152,17z/data=!3m1!4b1!4m5!3m4!1s0x471ecb60b93336e5:0xf7d1cb012bb9954d!8m2!3d52.224893!4d20.962104?hl=en"
              target="_blank" rel="noopener">12/14 Prądzyńskiego street, Warsaw, Poland</a>
          </h4>
          <span class="main-content">
								5 parallel sessions. 7 slots in each session. Chillout room and, last but not least, sponsor booths where you can talk, win attractive awards or even find a new job.
							</span>
        </div>
    </div>


    <div class="row-1140 about">
      <div>
        <h2 class="h2">about us</h2>
      </div>

      <div class="main-content text-center">
        Confitura 2018 is 12th edition of one of the biggest Java conferences in Poland. It’s the place where Polish and International
        leaders of
        the Java community share their Java knowledge and experience during sessions and breaks. Each year we host around
        1400 participants keen to find out about new technologies. The conference used to be totally free of charge but last
        year we decided to use the opportunity to help others and introduced a charity donation based model of registering.
        We collect symbolic donations of 25 zł (~6€) with help of the Allegro Charity Platform (all the money go
        <strong>directly</strong>
        to a charity organization) and invite our donors to register.
        <div><strong>Registration is required</strong>.</div>
      </div>

    </div>
  </section>
  <cf-partners-banner></cf-partners-banner>
  <!--<cf-news-banner></cf-news-banner>-->
</div>

