@import "../../sizes";

#confitura {

  @media all and (min-width: $size_small) {
    nav, nav > div {
      height: 100px;
      margin-bottom: 0;
    }
    .nav > li > a {
      line-height: 100px;
      padding-top: 0;
      padding-right: 29px;
      font-size: 2.5rem;
      color: black;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .navbar-brand {
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* logo */
  .confitura-logo {
    border: none;
    outline: none;
    margin-left: 20px;
    //transition: 0.5s ease;
    background: url('../../img/logo.png') no-repeat center center;
    background-size: contain;
    width: 232px;
    height: 100%;
  }

  @media all and (max-width: $size_small) {
    nav, nav > div {
      height: 55px;
      margin-bottom: 0;
    }
    #navbar{
      background: #ffffff;
    }
    .nav > li > a {
      line-height: 55px;
      margin-left: 15px;
      font-size: 2rem;
    }
    .navbar-brand {
      height: 55px;
    }
    .navbar-header{
      height: 55px;
    }
    .confitura-logo {
      width: 200px;
    }
    #mobile-menu {
      display: block !important;
      height: 55px;
      line-height: 55px;
      padding-right: 20px;
      padding-top: 0;
      border: none;
      background: none;
      margin-top: 0;
      margin-bottom: 0;
      div {
        background: url('../../img/mobile-menu.png') no-repeat center;
        background-size: contain;
        width: 30px;
        height: 100%;
        float: right;
      }
    }
  }
}

///* menu */
//
//.navbar-toggle {
//  margin-top: 10px;
//  padding-left: 0;
//  padding-right: 0;
//  background: transparent !important;
//}
//
//@media all and (min-width: 1141px) {
//  .navbar, #navbar {
//    height: 100px !important;
//  }
//  nav .container, .navbar-brand {
//    height: 100px;
//  }
//
//  .navbar-brand {
//    line-height: 100px;
//    border: 0 !important;
//    margin: 0 !important;
//    padding: 0 !important;
//  }
//}
//
////.nav > li > a {
////    height: 100px;
////    line-height: 100px;
////    border: 0;
////}
//
//.pink, .pink:hover {
//  padding-left: 45px !important;
//  padding-right: 45px !important;
//  background: #ff0040 !important;
//  color: #ffffff !important;
//}
//
//@media screen and (min-width: 1141px) {
//  .navbar-default .navbar-nav > li > a:link,
//  .navbar-default .navbar-nav > li > a:active,
//  .navbar-default .navbar-nav > li > a:hover,
//  .navbar-default .navbar-nav > li > a:visited {
//    color: #000000;
//    font-weight: bold;
//    text-decoration: none;
//    outline: none;
//    font-size: 17px;
//    transition: 0.5s ease;
//  }
//
//  .nav > li > a {
//    padding: 0 17px 0 0;
//  }
//
//  .pink, .pink:hover {
//    padding-left: 17px !important;
//    padding-right: 17px !important;
//  }
//}
//
//@media all and (min-width: 768px) and (max-width: 1140px) {
//  .navbar-toggle {
//    margin-right: 0 !important;
//  }
//
//}
//
//@media screen and (max-width: 1140px) {
//  /* mobile */
//  //.navbar, #navbar {
//  //    height: 55px !important;
//  //}
//
//  .navbar-brand {
//    line-height: 55px;
//  }
//
//  nav .container, .navbar-brand {
//    height: 55px;
//  }
//
//  //.nav>li>a {
//  //    height: 50px;
//  //    //display: none !important;
//  //}
//
//  #mobile-menu {
//    display: block !important;
//    height: 55px;
//    line-height: 55px;
//    padding-right: 20px;
//    div {
//      background: url('img/mobile-menu.png') no-repeat center;
//      background-size: contain;
//      width: 30px;
//      height: 100%;
//      float: right;
//    }
//  }
//
//  .navbar-header {
//    display: block;
//    float: right;
//    text-align: right;
//  }
//
//  .confitura-logo {
//    width: 100% !important;
//  }
//}
//
////@media screen and (min-width: 1141px) and (max-width: 1279px) {
////    .nav > li > a {
////        padding: 0 20px 0 0;
////    }
////
////    .pink, .pink:hover {
////        padding-left: 20px !important;
////        padding-right: 30px !important;
////    }
////}
//
////@media screen and (min-width: 1280px) {
////    .navbar-default .navbar-nav > li > a,
////    .navbar-default .navbar-nav > li > a:active,
////    .navbar-default .navbar-nav > li > a:hover,
////    .navbar-default .navbar-nav > li > a:visited {
////        color: #000000;
////        font-weight: bold;
////        text-decoration: none;
////        outline: none;
////        font-size: 20px;
////        transition: 0.5s ease;
////        -webkit-transition: 0.5s ease;
////        -o-transition: 0.5s ease;
////        -moz-transition: 0.5s ease;
////    }
////
////    .nav > li > a {
////        padding: 0 20px 0 0;
////    }
////
////    .pink, .pink:hover {
////        padding-left: 20px !important;
////        padding-right: 30px !important;
////    }
////}
//
////@media screen and (min-width: 1440px) {
////    .navbar-default .navbar-nav > li > a:link,
////    .navbar-default .navbar-nav > li > a:active,
////    .navbar-default .navbar-nav > li > a:hover,
////    .navbar-default .navbar-nav > li > a:visited {
////        color: #000000;
////        font-weight: bold;
////        text-decoration: none;
////        outline: none;
////        font-size: 21px;
////        transition: 0.5s ease;
////        -webkit-transition: 0.5s ease;
////        -o-transition: 0.5s ease;
////        -moz-transition: 0.5s ease;
////    }
////
////    .nav > li > a {
////        padding: 0 29px 0 0;
////    }
////
////    .pink, .pink:hover {
////        padding-left: 45px !important;
////        padding-right: 45px !important;
////    }
////}
//
//.navbar-default .navbar-nav > li > a:hover {
//  text-decoration: underline;
//}
//
//.navbar-default .navbar-toggle {
//  border: none;
//}
//
//.navbar-toggle .icon-bar {
//  display: block;
//  width: 60px;
//  height: 8px;
//  border-radius: 0 !important;
//  margin: 10px 0;
//}
//
////@media screen and (max-width: 375px) {
////    .navbar-toggle .icon-bar {
////        width: 30px;
////    }
////}
//
//.navbar-default .navbar-toggle .icon-bar {
//  background-color: #000000;
//}
//
//.fa-bars {
//  padding: 0 !important;
//}
//
///* logo */
//.confitura-logo {
//  border: none;
//  outline: none;
//  margin-left: 20px !important;
//  transition: 0.5s ease;
//  background: url('img/logo.png') no-repeat center center;
//  background-size: contain;
//  width: 232px;
//  height: 100%;
//
//}
//
//@media screen and (max-width: 1140px) {
//  body#confitura {
//    padding-top: 35px;
//  }
//
//  .navbar-brand {
//    width: 200px;
//  }
//}
//
//@media screen and (max-width: 767px) {
//  .confitura-logo, .container-fluid > .navbar-header {
//    padding-left: 0 !important;
//    margin-left: 20px !important;
//  }
//
//  .container-fluid > .navbar-header {
//    margin-right: 0 !important;
//  }
//}
//
//@media screen and (max-width: 1140px) {
//  .navbar-header {
//    width: 100%;
//  }
//}
//
/////* mobile menu */
////.mobile-nav {
////    display: none;
////    position: fixed;
////    top: 55px;
////    left: 0;
////    width: 100%;
////    height: 100%;
////    background: rgb(0, 0, 0);
////    background: rgba(0, 0, 0, 0.85);
////    z-index: 10000;
////}
//
////.mlink:link, .mlink:active, .mlink:visited, .mlink:hover {
////    display: block;
////    width: 100%;
////    text-align: center;
////    border: none;
////    outline: none;
////}
//
////@media screen and (min-height: 320px) {
////    .mlink:link, .mlink:active, .mlink:visited, .mlink:hover {
////        font-size: 3rem;
////        /* padding: 0; */
////    }
////}
////
////@media screen and (min-height: 480px) {
////    .mlink:link, .mlink:active, .mlink:visited, .mlink:hover {
////        font-size: 24px;
////        /* padding: 3px 0; */
////    }
////}
////
////@media screen and (min-height: 640px) {
////    .mlink:link, .mlink:active, .mlink:visited, .mlink:hover {
////        font-size: 32px;
////        /* padding: 6px 0; */
////    }
////}
////
////@media screen and (min-height: 768px) {
////    .mlink:link, .mlink:active, .mlink:visited, .mlink:hover {
////        font-size: 36px;
////        /* padding: 10px 0; */
////    }
////}
//
//.wh, .wh:hover {
//  background: #ffffff !important;
//  color: #000000 !important;
//}
//
//.pk, .pk:hover {
//  background: #ff0040 !important;
//  color: #ffffff !important;
//}
