<article class="bg-white" id="faq">
  <cf-page-header>Live Stream</cf-page-header>

  <div class="row-1140 pt-5 pb-5">
    <cf-page title="live-stream"></cf-page>
    <div class="text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xlPfDSdF9JE" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/F6_PgTO-t-g" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen>

      </iframe>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/-XKyrzQXVXg" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dDgRemxSnh8" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>


      <iframe width="560" height="315" src="https://www.youtube.com/embed/G6IrdoXHsoA" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
    </div>
  </div>
</article>
