<section class="pt100 pb50 bg-white ">
  <div class="row-1140">
    <h3>All Users</h3>
    <div style="text-align: right; margin-bottom: 20px;">
      <button routerLink="/profile/edit" class="btn btn-default">Add User</button>
    </div>
    <table class="table table-bordered table-striped table-hover" *ngIf="list">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Is admin</th>
        <th>Is volunteer</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of list | async">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.admin}}</td>
        <td>{{user.volunteer}}</td>
        <td style="text-align: center">
          <div class="btn-group">
            <button type="button" class="btn btn-default" (click)="view(user)">View</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a role="button" (click)="addPresentationTo(user)">Add Presentation</a></li>
              <li role="separator" class="divider"></li>
              <li><a role="button" (click)="markAsVolunteer(user)" *ngIf="!user.volunteer">Set As Volunteer</a></li>
              <li><a role="button" (click)="notVolunteer(user)" *ngIf="user.volunteer">Remove Volunteer Role</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <cf-person-modal></cf-person-modal>
</section>
