<section class="pt100 pb50 bg-white ">
    <div class="row-1140">
        <h3>All Users</h3>
        <table class="table table-bordered table-striped table-hover" *ngIf="list">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Is admin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of list | async">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.admin}}</td>
                <td>
                    <a role="button" (click)="view(user)">View</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <jl-person-modal></jl-person-modal>
</section>