<section class="pb50 bg-white" id="registration">
  <header class="registration-banner">
    <h2>Registration Form</h2>
  </header>

  <div class="row-1140 pt50">
    <div class="alert alert-danger" role="alert" *ngIf="error"><strong>Motyla Noga..</strong> {{error}}</div>
    <form (ngSubmit)="save()" [formGroup]="registrationForm" *ngIf="registrationForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="voucher" type="text" id="voucher2"
             name="voucher" formControlName="voucher"
             maxlength="255">
        <mat-hint>Correct voucher must be provided to participate in confitura</mat-hint>
      </mat-form-field>

      <label>t-shirt cut*: </label>
      <mat-radio-group formControlName="sex">
        <mat-radio-button type="radio" name="sex" value="F" required> female</mat-radio-button>
        <mat-radio-button type="radio" name="sex" value="M" required> male</mat-radio-button>
        <mat-error *ngIf="sex.invalid && (sex.dirty || sex.touched || submitted)">
          This field is required
        </mat-error>
      </mat-radio-group>
      <mat-form-field>
        <mat-select name="size" id="size" formControlName="size" required placeholder="t-shirt size">
          <mat-option></mat-option>
          <mat-option value="S">S</mat-option>
          <mat-option value="M">M</mat-option>
          <mat-option value="L">L</mat-option>
          <mat-option value="XL">XL</mat-option>
          <mat-option value="XXL">XXL</mat-option>
        </mat-select>
        <mat-error *ngIf="size.invalid">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="mealOption" id="mealOption" formControlName="mealOption" required placeholder="meal option">
          <mat-option></mat-option>
          <mat-option value="meat">Meat</mat-option>
          <mat-option value="vegetarian">Vegetarian</mat-option>
          <mat-option value="vegan">Vegan</mat-option>
        </mat-select>
        <mat-hint>We can't promise all options will be available on conference.</mat-hint>
        <mat-error *ngIf="mealOption.invalid">
          This field is required
        </mat-error>
      </mat-form-field>
      <div class="text-right">
        <button type="submit" class="btn btn-primary"
            [disabled]="submitted && !registrationForm.valid">Save
        </button>
      </div>
    </form>
  </div>

</section>
