<section class="bg-white" id="registration">
  <cf-page-header>Registration Form</cf-page-header>

  <div class="row-500 pb-3 pt-5">
    <div class="alert alert-danger" role="alert" *ngIf="error"><strong>Ups...</strong> {{error}}</div>
    <form (ngSubmit)="save()" [formGroup]="registrationForm" *ngIf="registrationForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="voucher" type="text" id="voucher2"
               name="voucher" formControlName="voucher"
               maxlength="255">
        <mat-hint>Correct voucher must be provided to participate in confitura</mat-hint>
      </mat-form-field>

      <label>t-shirt cut *: </label>
      <mat-radio-group formControlName="sex" class="registration__sex">
        <mat-radio-button type="radio" name="sex" value="F" required class="registration__sex-option"> female</mat-radio-button>
        <mat-radio-button type="radio" name="sex" value="M" required class="registration__sex-option"> male</mat-radio-button>
        <mat-error *ngIf="submitted && sex?.hasError('required')">
          This field is required
        </mat-error>
      </mat-radio-group>
      <mat-form-field>
        <mat-select name="size" id="size" formControlName="size" required placeholder="t-shirt size">
          <mat-option value="S">S</mat-option>
          <mat-option value="M">M</mat-option>
          <mat-option value="L">L</mat-option>
          <mat-option value="XL">XL</mat-option>
          <mat-option value="XXL">XXL</mat-option>
        </mat-select>
        <mat-error *ngIf="size?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="mealOption" id="mealOption" formControlName="mealOption" required placeholder="meal option">
          <mat-option value="meat">Meat</mat-option>
          <mat-option value="vegetarian">Vegetarian</mat-option>
        </mat-select>
        <mat-hint>
          We can't that you will be able to get option that you have selected. The food at configtura will nto be portioned, so
          first come - first served.
        </mat-hint>
        <mat-error *ngIf="mealOption?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <div *ngIf="!id" class="pt-4">
        <div>
          <h4 class="text-center">Statistical data</h4>
          <div>This data will be used for statistics only, and will not be associated with your personal profile. Thanks to them we will be
            able to better tailor our agenda to the needs of our participants in future editions.
          </div>
        </div>

        <mat-form-field>
          <input type="text" id="city" placeholder="city" formControlName="city"
                 matInput name="city"
                 required maxlength="255">
          <mat-error *ngIf="city?.hasError('required')">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select name="experience" id="experience" formControlName="experience" required
                      placeholder="your experience">
            <mat-option value="I am just learning">I am just learning</mat-option>
            <mat-option value="Less than a year">Less than a year</mat-option>
            <mat-option value="1-2 years">1-2 years</mat-option>
            <mat-option value="2-4 years">2-4 years</mat-option>
            <mat-option value="4-8 years">4-8 years</mat-option>
            <mat-option value="Over 8 years">Over 8 years</mat-option>
          </mat-select>
          <mat-error *ngIf="experience?.hasError('required')">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select name="role" id="role" formControlName="role" required placeholder="your role">
            <mat-option value="student">Student</mat-option>
            <mat-option value="Developer">Developer</mat-option>
            <mat-option value="Team Leader">Team Leader</mat-option>
            <mat-option value="Project Leader">Project Leader</mat-option>
            <mat-option value="Architect">Architect</mat-option>
            <mat-option value="Tester">Tester</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="role?.hasError('required')">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button type="submit"
                [disabled]="submitted && !registrationForm.valid">Save
        </button>
        <button mat-raised-button type="button" color="warn" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>

</section>
