server:
  port: {{port}}
  servlet:
    context-path: /api
twitter:
  api-key: {{twitter_key}}
  api-secret: {{twitter_secret}}
  callback: {{twitter_callback}}
app.oauth.oauth2:
  facebook:
    api-key: {{facebook_key}}
    api-secret: {{facebook_secret}}
    callback: {{facebook_callback}}

  github:
    api-key: {{github_key}}
    api-secret: {{github_secret}}
    callback: {{github_callback}}

  google:
    api-key: {{google_key}}
    api-secret: {{google_secret}}
    callback: {{google_callback}}

jwt:
  key: {{jwt_key}}

mail:
  api-key: {{mail_key}}
  from-email: confitura@confitura.pl
  from-name: Confitura

resources:
  path: resources
  folder: {{resources_folder}}
spring:
  datasource:
    url: jdbc:mysql://{{db_host}}:{{db_port}}/{{db_name}}?useLegacyDatetimeCode=false&serverTimezone=Europe/Warsaw&useUnicode=yes&characterEncoding=UTF-8
    username: {{db_user}}
    password: {{db_pass}}
  jpa:
    hibernate:
      ddl-auto: create
