<section id="partners-confitura" class="partners-banner">
  <div class="row-fluid">
    <div class="col-lg-12 col-md-12"><h2 class="h2">our partners</h2></div>
  </div>
  <div class="row-fluid col-lg-12 partners-banner-container">
    <div *ngFor="let type of types" class="{{type}}-type">
      <div class="partners-items" *ngIf="hasAnyPartnersFor(type)">
        <div class="partner-logo text-center">
          <ul class="bxslider">
            <li *ngFor="let partner of getPartnersFor(type)" class="partner-logo-item">
              <a [href]="partner.www" target="_blank">
                <img [cfLazySrc]="partner.logo" [ngClass]="{'unpublished': !partner.published, 'dupa': true}"/>
              </a>
            </li>
          </ul>
        </div>
        <span class="partner-type text-center">{{type}}</span>
      </div>
    </div>
  </div>
</section>
