<section id="partners-confitura" class="partners-banner" *ngIf="list.length > 0">
  <h2>our partners</h2>
  <div class="row-fluid col-lg-12 partners-banner-container pt-5">
    <div *ngFor="let type of types" class="{{type}}-type">
      <div class="partners-items" *ngIf="hasAnyPartnersFor(type)">
        <div class="partner-logo text-center">
          <ul class="bxslider">
            <li *ngFor="let partner of getPartnersFor(type)" class="partner-logo-item">
              <a [href]="partner.www" target="_blank" rel="noopener">
                <img [cfLazySrc]="partner.logo | resizeImg" [ngClass]="{'unpublished': !partner.published}"/>
              </a>
            </li>
          </ul>
        </div>
        <span class="partner-type text-center">{{type}}</span>
      </div>
    </div>
  </div>
</section>
