@import "../../../sizes";
@import "../partner-list/partners.component";

.partners-banner-container {
  display: flex;
  justify-content: space-around;
  align-content: stretch;

  .partner-logo-item > a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .partner-logo, .partner-logo-item {
    height: 120px;
  }
  flex-direction: column;

  .platinum-type {
    order: 2;
  }

  .gold-type {
    order: 1;
  }

  .silver-type {
    order: 3;
  }
  @media all and (min-width: $size_medium){
    flex-direction: row;

  }

  > div {
    @media all and (min-width: $size_small) {
      flex-basis: 100%;
    }
  }

}
