<section class="partners-banner bg-white pb-5 " *ngIf="list.length > 0">
  <h2>our partners</h2>
  <div class="partners-banner__container pt-5 row-1140">
    <div *ngFor="let type of types" class="{{getSimpleType(type)}}-type">
      <ng-container *ngIf="hasAnyPartnersFor(type)">
        <div class="partner-logo">
          <ul class="bxslider">
            <li *ngFor="let partner of getPartnersFor(type)" class="partner-logo-item">
              <a [href]="partner.www" target="_blank" rel="noopener">
                <img [src]="partner.logo | resizeImg" [ngClass]="{'unpublished': !partner.published}"/>
              </a>
            </li>
          </ul>
        </div>
        <span class="partner-type text-center">{{type}}</span>
      </ng-container>
    </div>
  </div>
</section>
